<!-- jQuery Version 3.3.1 -->
<script src="{{site.url}}{{ site.baseurl }}js/jquery-3.3.1.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{site.url}}{{ site.baseurl }}js/jquery.easing.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{site.url}}{{ site.baseurl }}js/bootstrap.min.js"></script>

<!-- Infinite scroll jQuery plugin -->
<script src="{{site.url}}{{ site.baseurl }}js/infinite-scroll.pkgd.min.js"></script>

<!-- Main JavaScript entry point -->
<script src="{{site.url}}{{ site.baseurl }}js/main.js"></script>
