
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% for post in posts %}

    <a href="{{ post.url | relative_url }}" class="{{ post.lang }}">{{ post.lang }}</a>

{% endfor %}

{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for page in pages %}
    {% if page.url != "/" %}
        {% case page.lang %}
            {% when 'en' %}
                {% assign Language = "English" %}
            {% when 'pt' %}
                {% assign Language = "Portuguese" %}
            {% else %}
                {% assign Language = page.lang %}
        {% endcase %}
        <a href="{{ page.url | relative_url }}" class="{{ page.lang }}">{{ Language }}</a>
    {% endif %}
{% endfor %}
