<div class="container">
  <div class="row">
    <div class="col d-flex flex-column justify-content-center">
      <img class="img-fluid" alt="Mozilla Foundation" src="https://github.com/amchagas/media-for-reps/blob/master/logos/mozilla-logo-bw-rgb.png?raw=true" width="200"/>
    </div>
    <div class="col d-flex flex-column justify-content-center">
      <img class="img-fluid" alt="Wikimedia Deutschland" src="https://github.com/amchagas/media-for-reps/blob/master/logos/freieswissen.png?raw=true" width="200"/>
    </div>
    <div class="col d-flex flex-column justify-content-center">
      <img class="img-fluid" alt="Prometheus Science" src="https://github.com/amchagas/media-for-reps/blob/master/logos/logo1.png?raw=true" width="200" />
    </div>
  </div>
  <div class="row">
    <div class="col d-flex flex-column justify-content-center">
      <img class="img-fluid" alt="Rede de Pesquisadores" src="https://github.com/amchagas/media-for-reps/blob/master/logos/logo_rede_horizontal_cor.png?raw=true" />
    </div>
    <div class="col d-flex flex-column justify-content-center">
      <img class="img-fluid" alt="Trend in Africa" src="https://github.com/amchagas/media-for-reps/blob/master/logos/TReND%20logo.png?raw=true" />
    </div>
    <div class="col d-flex flex-column justify-content-center">
      <img class="img-fluid" alt="Baden Lab" src="https://github.com/amchagas/media-for-reps/blob/master/logos/badenlab.png?raw=true" />
    </div>
  </div>
  <div class="row">
    <div class="col d-flex flex-column justify-content-center"></div>
    <div class="col d-flex flex-column justify-content-center">
      <img class="img-fluid" alt="University of Sussex" src="https://github.com/amchagas/media-for-reps/blob/master/logos/university_of_sussex.jpeg?raw=true" />
    </div>
    <div class="col d-flex flex-column justify-content-center"></div>
  </div>
</div>
